<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Merienda:700&display=swap" rel="stylesheet">
    <title>Pastry Royal'e</title>
    <link rel = 'stylesheet' href = 'cake.css'>
</head>
<body>
    <div id = 'header'>
        <div id="bun1"></div>
        <h1>Richard and Son's</h1>
        <div id="bun2"></div>
    </div>
    <div id="header-img">
        <img src="cakeH.jpg" alt="">
    </div>
    <footer>
        <div>
            &copy
            &reg
            <p>Richard and Sons's (Not your electronic store)</p>
        </div>
        <div>
            Sprinkles New York - Brookfield Place
        </div>
        <div>
            <img src='fb.png'>
            <img src='insta.png'>
            <img src='twitter.png'>
        </div>
    </footer>
</body>
</html>