<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Merienda:700&display=swap" rel="stylesheet">
    <title>Pastry Royal'e</title>
    <link rel = 'stylesheet' href = 'main.css'>
</head>
<body>
    <div id = 'header'>
        <div id="bun1"></div>
        <h1>Richard and Son's</h1>
        <div id="bun2"></div>
    </div>
    <div id="header-img">
        <img src="header-img.jpg" alt="">
    </div>
    <div id = 'catagories'>
        <div id="cookies">
            <h3>Cookies</h3>
            <img src = 'cookies.jpg' class = 'img-size'>
            <p>Whatever you're looking for, you'll find it here: everything from tried-and-true classics to our new favorite cookie recipes featuring ingredients like tahini, goat butter, and poppy seeds.</p>
        </div>
        <div id="cupcake">
            <h3>Cupcakes</h3>
            <img src = 'cupcakes.jpg' class = 'img-size'>
            <p>Moist, perfect cupcakes everyone will love. Recipes with photos and reviews for vanilla cupcakes, cupcake frosting, mini cupcakes and more.</p>
        </div>
        <div id="cake">
            <h3>Cake</h3>
            <img src = 'cake.jpg' class = 'img-size'>
            <p>See the best cake recipes. Trusted recipes for chocolate cake, white cake, banana cakes, and carrot cakes with photos and tips from home cooks.</p>
        </div>
    </div>
    <footer>
        <div>
            &copy
            &reg
            <p>Richard and Sons's (Not your electronic store)</p>
        </div>
        <div>
            Sprinkles New York - Brookfield Place
        </div>
        <div>
            <img src='fb.png'>
            <img src='insta.png'>
            <img src='twitter.png'>
        </div>
    </footer>
</body>
</html>